html
    head
        link(rel="icon" href="/library.png" type="image/png")
        include cancel.css
        title Cancel Appointment
    body
        p UNDER CONSTRUCTION
        //- form(action="/cancel-appointment" method="POST")