html {
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(
		132deg,
		rgba(161, 196, 253, 1) 0%,
		rgba(194, 233, 251, 1) 100%
	);
}

/****************************************/

table {
	margin: auto;
	width: 75%;
	border-collapse: collapse;
}

.header {
	height: 30px;
	font-size: 17px;
}

th,
td {
	padding: 5px;
	text-align: center;
}

th {
	background-color: #2d7fb5;
	color: #fff;
	height: 20px;
}

tr {
	color: black;
	height: 50px;
	font-size: 15px;
}

tr:nth-child(even) {
	background-color: white;
}

tr:nth-child(odd) {
	background-color: #54aae3;
}

tr:hover {
	background-color: gray;
}

/****************************************/

.footer {
	margin-top: 20%;
	text-align: center;
}

button {
	background-color: #4aa2dd;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 3%;
	width: 7%;
	margin: auto;
	border-radius: 5px;
	border: none;
}
